@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body {
	background-image: url(Images/grey-brick-m.jpg);
	background-attachment: fixed;
	}

div.surr {
	background-color: lightgrey;
	width: 50%;
	border: 5px solid green;
	padding: 55px;
	margin: auto;
	/*clear: both;*/
	display: flex;
}
div.inn {
	background-color: lightgrey;
	/*width: auto;*/
	border: 5px solid green;
	padding: 5px;
	margin: auto;
	/*float: left;
	display: block;*/
}

#fancy-bg {
	font-family:'Alfa Slab One',cursive;
	font-size:2vw;
	color:#ffffff;

	width:20vw;
	padding:1vw;
	margin:1vw;
	}

@media only screen and (max-width: 700px){
	body{
		background-image: url(Images/grey-brick-s.jpg);
		}
	}

