@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

body {
	background-image: url(Images/Skyscraper-scaled.jpeg);
	background-attachment: fixed;
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center center;
	}
body::-webkit-scrollbar {
	width: 0.5vw;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
	background: rgb(225, 225, 225);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
	background-color: #001a33;    /* color of the scroll thumb */
	-webkit-box-shadow: 4px 3px 8px 1px rgba(0, 0, 51, 0.8); 
	/*border-radius: 20px;       /* roundness of the scroll thumb */
	/*border: 3px solid orange;  /* creates padding around scroll thumb */
}

#navbar {
	width: 80%;
	height: 5%;
	transition: height 0.2s ease-out 5ms;
	background: #001a33;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0);
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-right: 0.3vw solid #001a33;
	border-left: 0.3vw solid #001a33;
	box-shadow: 4px 3px 8px 1px rgba(0, 0, 51, 0.8);	
	/*-webkit-mask-image: linear-gradient(90deg, transparent 5%, rgba(0, 0, 0, 1) 52%, rgba(0, 0, 0, 1) 44%, transparent 95%);
*/
}

#navbar:hover {
	height: 8%;
}

/* = fa - icons ================================================== */

.fa {
	padding: 0.4vw;
	font-size: 1.3vw;
	width: 2vw;
	border-radius: 7%;
	transition: background 0.2s ease-out 5ms, height 0.2s ease-out 5ms, font-size 0.2s ease-out 5ms, width 0.2s ease-out 5ms;
	height: 1vw;
	text-align: center;
	text-decoration: none;
	margin: 1vw 0.4vw;
	/*border: 0.1vw solid #ffffff;*/
	}

.fa:hover {
	height: 1.7vw;
	width: 2.7vw;
	font-size: 2.0vw;
	}

.fa-linkedin {
	/*background: #007bb5;*/
	color: white;
	}

.fa-linkedin:hover {
	background: #007bb5;
	}

.fa-github {
	/*background: #000000;*/
	color: white;
	}

.fa-github:hover {
	background: #000000;
	}

/* =============================================================== */

#end-note {
	/*width: 100%;*/
	padding: none;
	margin: none;
	color: #ffffff;
	font-size: 1.5vw;	
	background: #001a33;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: center;
	text-align: center;
	font-family:'Oswald',sans-serif;
	/*transform: translate(-1vw, 0);*/
}

.left-stick {
	border: none;
	margin: none;
	width: 1.5%;
	height: 10%;
	transition: width 0.2s ease-out 5ms;	
	background: rgba(0, 26, 51, 1.0);
	position: fixed;
	top: 50%;
	left: 0%;
	transform: translate(0%, -50%);
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	}

.left-stick:hover {
	width: 3%;
	}

hr.solid {
	width: 90%;
	}

.spacer {
	padding: 2vw;
	}

#home-icon {
	height: 1.5vw;
	width: 1.5vw;
	border: 0.2vw solid #ffffff;
	border-radius: 50%;
	margin: none;
	padding: 0vw;
	transition: height 0.2s ease-out 5ms, padding 0.2s ease-out 5ms, width 0.2s ease-out 5ms;
	
	}

#home-icon:hover {
	height: 2.5vw;
	width: 2.5vw;
	padding: 0.3vw;
	}

pre.art {
	font-size:0.6vw;
	color:#001a33;
	white-space: pre;
	}

.content {
	font-family:'Oswald',sans-serif;
	font-size:1.5vw;
	color:#001a33;

	}

div.ful-page {
	/*width:100%;
	height:100%;*/
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 99vh;
	}

.bg-overlay {
	/* add a png gradient frame with this so its independent of bg placement */
	width:100%;
	height:100%;
	position:fixed;
	padding:0;
	margin:0;
	top:0;
	left:0;
	z-index: -1;
	}

.title-surr {
	background: rgba(224, 224, 224, 0.4);
	width: auto;
	/*max-width: 70%;
	max-height: 40%;*/
	overflow:auto;
	clear:both;
	box-shadow: inset 4px 3px 8px 1px rgba(0, 0, 51, 0.5);
	border: 0.3vw solid #001a33;
	padding: 5px;
	margin: auto;
	/*clear: both;*/
	display: flex;
	/*display: block; for phone use */
	align-items: center;
	flex-wrap: nowrap;
	justify-content: center;
	position: fixed;
}

.page-surr {
	background: rgba(224, 224, 224, 0.9);
	width: 80%;
	/*max-width: 70%;
	max-height: 40%;*/
	/*overflow:auto;
	clear:both;*/
	border-top: 0.1vw solid #001a33;
	border-bottom: 0.1vw solid #001a33;
	border-right: 0.3vw solid #001a33;
	border-left: 0.3vw solid #001a33;
	padding: 5px;
	margin: auto;
	/*clear: both;*/
	/*display: flex;*/
	/*display: block; for phone use */
	align-items: center;
	flex-wrap: nowrap;
	justify-content: center;
	box-shadow: inset 4px 3px 8px 1px rgba(0, 0, 51, 0.5);
}

.frame-surr {
	/*background: rgba(224, 224, 224, 0.9);
	width: 80%;
	/*max-width: 70%;
	max-height: 40%;*/
	overflow:auto;
	clear:both;
	/*border-top: 0.1vw solid #001a33;
	border-bottom: 0.1vw solid #001a33;
	border-right: 0.3vw solid #001a33;
	border-left: 0.3vw solid #001a33;
	padding: 5px;
	margin: auto;
	/*clear: both;*/
	padding: 1vw;
	display: flex;
	/*display: block; for phone use */
	align-items: center;
	flex-wrap: nowrap;
	justify-content: center;
	/*box-shadow: inset 4px 3px 8px 1px rgba(0, 0, 51, 0.5);*/
}

.inn {
	/*background: rgba(224, 224, 209, 0.2);
	/*width: auto;
	border: 9px solid green;*/
	padding: 10px;
	height: 30%;
	max-width: 50vw;
	/*margin: 2vw;
	/*float: left;
	display: block;*/
}

.project-img{
	width:35vw;
	height:auto;
	/*background-image: url(Images/profile_pic.jpg);
	background-size: contain;*/
	/*border-radius: 3%;*/
	margin: 0.3vw;
	padding: 0.0vw;
	/*box-shadow: 4px 3px 8px 1px rgba(0, 0, 51, 0.5);
	border: 0.1vw solid #001a33;*/
	}

.profile-img{
	width:15vw;
	height:15vw;
	/*background-image: url(Images/profile_pic.jpg);
	background-size: contain;*/
	border-radius: 50%;
	margin: 0.3vw;
	padding: 0.3vw;
	border: 0.3vw solid #001a33;
	box-shadow: 4px 3px 8px 1px rgba(0, 0, 51, 0.5);
	}

.content1{
	font-family:'Oswald',sans-serif;
	font-size:2vw;
	color:#001a33;
	}

.title1 {
	font-family:'Prata',serif;
	font-size:3vw;
	color:#001a33;
	}

#fancy-bg {
	font-family:'Alfa Slab One',cursive;
	font-size:2vw;
	color:#ffffff;

	width:20vw;
	padding:1vw;
	margin:1vw;
	}

@media only screen and (max-width: 2560px){
	body{
		background-size: cover ;
		}
	}

