@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

body {
	background-image: url(Images/Skyscraper-scaled.jpeg);
	background-attachment: fixed;
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center center;
	}
body::-webkit-scrollbar {
	width: 0.5vw;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
	background: rgb(225, 225, 225);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
	background-color: #001a33;    /* color of the scroll thumb */
	/*border-radius: 20px;       /* roundness of the scroll thumb */
	/*border: 3px solid orange;  /* creates padding around scroll thumb */
}

#navbar {
	width: 80%;
	height: 5%;
	
	background: #001a33;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0);
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.left-stick {
	width: 1.5%;
	height: 10%;
	transition: width 0.2s ease-out 5ms;	
	background: #001a33;
	position: fixed;
	top: 50%;
	left: 0%;
	transform: translate(0%, -50%);
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	}

.home-icon {
	height: 80%;
	width: 1vw;
	}

.left-stick:hover {
	width: 3%;
	}

.left-stick:hover .home-icon {
	width: 3vw;
	}

#home-button {
    	background-color: rgba(0, 0, 0, 0);
    	/*display: block;
    	margin: 10px 0;
    	padding: 10px;*/
	border: none;
	height: 100%;
    	width: 100%;
}

div.ful-page {
	/*width:100%;
	height:100%;*/
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 97vh;
	}

.bg-overlay {
	/* add a png gradient frame with this so its independent of bg placement */
	width:100%;
	height:100%;
	position:fixed;
	padding:0;
	margin:0;
	top:0;
	left:0;
	z-index: -1;
	}

.page-surr {
	background: rgba(224, 224, 224, 0.4);
	width: auto;
	/*max-width: 70%;
	max-height: 40%;*/
	overflow:auto;
	clear:both;

	border: 0.3vw solid #001a33;
	padding: 5px;
	margin: auto;
	/*clear: both;*/
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: center;
	position: fixed;
}
.inn {
	/*background: rgba(224, 224, 209, 0.2);
	/*width: auto;
	border: 9px solid green;*/
	padding: 10px;
	height: 30%;
	max-width: 50vw;
	/*margin: 2vw;
	/*float: left;
	display: block;*/
}

.profile-img{
	width:15vw;
	height:15vw;
	/*background-image: url(Images/profile_pic.jpg);
	background-size: contain;*/
	border-radius: 50%;
	margin: 0.3vw;
	padding: 0.3vw;
	border: 0.3vw solid #001a33;
	}

.content1{
	font-family:'Oswald',sans-serif;
	font-size:2vw;
	color:#001a33;
	}

.title1 {
	font-family:'Prata',serif;
	font-size:3vw;
	color:#001a33;
	}

#fancy-bg {
	font-family:'Alfa Slab One',cursive;
	font-size:2vw;
	color:#ffffff;

	width:20vw;
	padding:1vw;
	margin:1vw;
	}

@media only screen and (max-width: 2560px){
	body{
		background-size: cover ;
		}
	}

